@font-face {
    font-family: 'RobotoBlack';
    src: url("../font/Roboto-Black.ttf");
}

:root{
    /* Color Scheme */
    --primary-color:white;
    --accent-color: #001662;
    --accent-color-two: #a5c3e7;
    --accent-color-three: rgb(141, 141, 42);
    --text-colour: #001662;
    --header-text-color: white;
    --background-color: #A3DDF2;
    --header-background: #001662;
    --footer-background: #001662; 
    --footer-text-color: rgb(255, 255, 255);
    /* Typography */
    --font-family: RobotoBlack;
    --font-size-base: 1rem;
    --font-size-heading: 2rem;
    --font-weight-regular: 500;
    --font-weight-bold: 900;
    /* Spacing */
    --spacing-unit: 0.5rem;
    /* Transtions */
    --transition-duration: 0.5s;
    --scale: 1;
    --scale-hover: 1.1;
}

* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    margin-top: var(--spacing-unit);
    max-width: 90vw;
    background-color: var(--background-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-colour);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
}
.logo {
    max-width: 3rem;
    max-height: 3rem;
}

header {
    display: flex;
    background-color: var(--header-background);
    color: var(--header-text-color);
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-unit);
}

h1 {
    text-align: left;
}

nav {
    display: flex;
}

nav ul{
    list-style: none;
    display: flex;
    gap: var(--spacing-unit)
}

@media screen and (max-width: 600px){
    header {
        display:block;
        justify-content: center;
    }
    nav ul {
        display:inline-block;
        justify-content: center;
    }

    nav ul li a{
        text-decoration: none;
        font-weight: var(--font-weight-bold);
        color: var(--header-text-color);
    }
    nav ul li a:hover{
        text-decoration: underline;
        color: var(--accent-color-three);
    }
}

@media screen and (min-width:1025px){
    nav ul li a{
        display: flex;
        text-decoration: none;
        font-weight: var(--font-weight-bold);
        color: var(--header-text-color);
        transform: scale(var(--scale));
        transition: color var(--transition-duration) ease, transform var(--transition-duration) ease;
    }
    
    nav ul li a:hover{
        text-decoration: underline;
        color: var(--accent-color-three);
        transform: scale(var(--scale-hover));
    }
}

main {
    background-color: var(--background-color);
    max-width: 70vw;
    margin: 0 auto;
    padding: var(--spacing-unit);
    overflow: hidden;
}

section {
    margin-bottom: calc(var(--spacing-unit));
}

h2 {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
}

p {
    font-size: var(--font-size-base);
    line-height: 1;
}

#skills ul {
    list-style: square;
    margin-left: var(--spacing-unit);
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing-unit)*4);
    padding-top: 1rem;
    justify-content: space-evenly;
}

.projectCard {
    background-color: var(--accent-color-two);
    width: 25rem;
    box-shadow: 0 4px 10px rgb(0,0,0,0.2);
    transform: scale(var(--scale));
    transition: all var(--transition-duration) ease-in;
}

.projectCard:hover {
    box-shadow: 0 8px 16px rgb(0,0,0,0.4);
    transform: scale(var(--scale-hover));
}

.projectCard img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    object-position: center;
}

.projectCard h3, .projectCard p {
    padding: var(--spacing-unit);
}

#blog {
    display: grid;
    gap: calc(var(--spacing-unit)*4);
    padding-top: 1rem;
    margin: 0;
}
.blog-grid{
    background-color: var(--accent-color-two);
    width: 25rem;
    box-shadow: 0 4px 10px rgb(0,0,0,0.2);
}

.blog-grid img{
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 768px){
    #blog {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
    }
}

@media screen and (min-width: 992px){
    #blog {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px){
    #blog{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        justify-content: space-evenly;
    }
}


#contact form{
    display:flex;
    flex-direction: column;
    font-family: RobotoBlack;
}

#contact form input, .contact form textarea {
    border: 1px solid var(--primary-color);
    padding: var(--spacing-unit);
}

#contact form input:focus, .contact form textarea:focus {
    border-color: var(--accent-color);
    padding: var(--spacing-unit);
}

.button {
    background-color: var(--primary-color);
    color: var(--text-colour);
    border: none;
    padding: var(--spacing-unit);
    margin: var(--spacing-unit);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    transition: var(--background-color) 0.4s;
}

.button:hover{
    background-color: var(--accent-color);
    color: var(--header-text-color);
}

footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    padding: var(--spacing-unit);
    text-align: right;
    height: 10vh;
}